.gallery__item {
  position: relative;
}
.galley__view {
  display: block;
  text-align: center;
  justify-content: center;
}
.card-prop {
  width: 390px;
  height: 300px;
  transition: .4s ease;
  &:hover {
    opacity: 0.2;
  }
}
.card1 {
  background: url("../../img/slides/portfolio1.png") center center/cover;
}
.card2 {
  background: url("../../img/slides/portfolio2.png") center center/cover;
}
.card3 {
  background: url("../../img/slides/portfolio3.png") center center/cover;
}
.card4 {
  background: url("../../img/slides/portfolio4.png") center center/cover;
}
._img {
  position: relative;
  width: 100%;
  min-height: 350px;
  object-fit: cover;
  & img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.text .bold {
  font-weight: 700;
}
.galley__view {
  transition: all .5s ease;
  justify-content: center;
  text-align: center;

  & .card {
    transition: all .5s ease;
  }
  &:hover {
    .text, .button {
      opacity: 1;
    }

    .text {
      top: 20%;
    }
    .button {
      bottom: 20%;
    }
    .card {
      opacity: 0;
    }
  }
  & .text {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  & .text, & .button {
    color: #1b242f;
    opacity: 0;
    text-align: center;
    transition: all 1s ease-in-out;
    z-index: 2;
  }
  & .button {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    border: 2px solid #e31b6d;
    font-size: 13pt;
    margin: 0 auto;
    padding: 7px 0;
    width: 170px;
    cursor: pointer;
  }
}
.modal__content {
  width: 50vw;
}
.info-box {
  border-top: 3px solid #1b242f;
  box-sizing: border-box;
  color: #444;
  padding: 15px 10px 85px 10px;
  text-align: left;
  position: relative;
  width: 100%;
& .title {
    font-size: 22pt;
    line-height: 30pt;
    text-align: left;
    color: #000;
  }
  &__text {
    text-align: left;
    font-family: Arial;
    color: #c0c0c0;
    display: block;
    font-weight: 400;
    padding-bottom: 15px;
    text-transform: uppercase;
  }
  &__detail {
    font-size: 11pt;
    line-height: 18pt;
    margin-top: 15px;
  }
  & .button {
    left: 25px;
    background: #e31b6d;
    border: 0;
    bottom: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 10pt;
    font-weight: 600;
    padding: 11px 30px;
    position: absolute;
    transition: all 0.5s;
    & .button-box {
      position: relative;
    }
    & i {
      z-index: 2;
      color: #fff;
      margin-right: 10px;
    }
  }
}
