.my-photo {
  max-width: 250px;
  max-height: 250px;
}
.pick {
  cursor: pointer;
}

.label {
  font-size: 18pt;
  margin: 20px 0 15px 0;
  font-weight: 500;
}
.highlighter {
  color: #009ada;
}