@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

body{
  color: #fff;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  margin: 0;
  text-align: center;
}
.header {
  font-size: 30pt;
}

section {
  font-size: 18pt;
  color: #616161;
  position: relative;
  padding: 100px 0 130px 0;
}
.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  width: 100%;
}
.label {
  font-size: 16pt;
  line-height: 22pt;
}