.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: margin 0.5s ease-out;
  background: linear-gradient(90deg, #29323C 0%, #485563 100%);
}
.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  max-width: 600px;
  margin: 0 auto;
}
h1 {
  font-size: 32pt;
  line-height: 36pt;
  margin-bottom: 20px;
  & strong {
    color: #fd7e14;
  }
}
.button {
  border: 2px solid #fff;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 13pt;
  padding: 10px 20px;
  transition: all 0.5s;
}
.view {
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  position: relative;
  color: #fff;
  margin-bottom: 50px;
  &:hover {
    background-color: #16D9E3;
    border: 2px solid #16D9E3;
    color: #fff;
    & i {
      transform: rotate(90deg);
    }
  }
  & i {
    position: absolute;
    right: 10px;
    top: 21px;
    transition: transform 350ms ease;
    &:hover {
      color: #fff;
    }
  }
}

.screen.up {
  margin-top: -100vh;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.bublcontent {
  position: relative;
  z-index:100;
}
.bubl {
  overflow: hidden;
  position: relative;
  width:100%;
  padding-bottom: 56.25%;
  height: 0;
}
.bubl1 {
  width: 6px;
  height: 8px;
  border-radius:100%;
  background: transparent;
  box-shadow: 342px 476px #FFF, 442px 388px #FFF, 370px 1954px #FFF, 1749px 2185px #FFF, 2291px 128px #FFF, 491px 754px #FFF, 2108px 1170px #FFF, 1126px 202px #FFF, 2413px 81px #FFF, 1602px 1610px #FFF, 1159px 840px #FFF, 1099px 513px #FFF, 219px 2099px #FFF, 1029px 1791px #FFF, 2298px 462px #FFF, 1900px 7px #FFF, 643px 519px #FFF, 2482px 1855px #FFF, 1662px 1743px #FFF, 154px 2259px #FFF, 194px 628px #FFF, 1090px 2062px #FFF, 2348px 957px #FFF, 1889px 375px #FFF, 1897px 603px #FFF, 2284px 1862px #FFF, 1009px 2458px #FFF, 1795px 2067px #FFF, 1272px 792px #FFF, 2105px 1080px #FFF, 902px 918px #FFF, 1460px 1781px #FFF, 2449px 347px #FFF, 1790px 1584px #FFF, 1926px 412px #FFF, 1467px 2123px #FFF, 750px 1974px #FFF, 1470px 880px #FFF, 139px 111px #FFF, 1315px 573px #FFF, 1743px 1542px #FFF, 2315px 2252px #FFF, 2012px 1147px #FFF, 1041px 1655px #FFF, 811px 2130px #FFF, 342px 1852px #FFF, 1070px 1093px #FFF, 1847px 2174px #FFF, 949px 1003px #FFF, 2393px 1819px #FFF, 1458px 1064px #FFF, 262px 5px #FFF, 1421px 434px #FFF, 103px 200px #FFF, 311px 1650px #FFF, 1409px 114px #FFF, 969px 1975px #FFF, 704px 2438px #FFF, 2341px 946px #FFF, 2032px 692px #FFF, 2136px 1084px #FFF, 1931px 13px #FFF, 683px 417px #FFF, 5px 800px #FFF, 610px 2412px #FFF, 1723px 188px #FFF, 1285px 978px #FFF, 1102px 2056px #FFF, 601px 1035px #FFF, 2185px 1871px #FFF, 2206px 1651px #FFF, 546px 1162px #FFF, 489px 1971px #FFF, 1714px 1617px #FFF, 438px 2058px #FFF, 1079px 1821px #FFF, 2447px 423px #FFF, 2111px 466px #FFF, 716px 638px #FFF, 785px 1738px #FFF, 1092px 1386px #FFF, 636px 1351px #FFF, 842px 2172px #FFF, 2196px 1899px #FFF, 1819px 1012px #FFF, 2267px 2432px #FFF, 554px 293px #FFF, 1524px 1479px #FFF, 2012px 532px #FFF, 2472px 1540px #FFF, 1407px 432px #FFF, 189px 1576px #FFF, 2306px 1068px #FFF, 2496px 405px #FFF, 1744px 990px #FFF, 418px 368px #FFF, 657px 2180px #FFF, 291px 1715px #FFF, 1768px 1759px #FFF, 1807px 1714px #FFF, 356px 2349px #FFF, 2382px 2497px #FFF, 2283px 671px #FFF, 1951px 1177px #FFF, 2425px 2263px #FFF, 1307px 812px #FFF, 339px 2124px #FFF, 1747px 487px #FFF, 1210px 21px #FFF, 1867px 2297px #FFF, 633px 2142px #FFF, 1153px 667px #FFF, 431px 1795px #FFF, 2053px 1303px #FFF, 402px 1932px #FFF, 1540px 1364px #FFF, 1463px 2291px #FFF, 1232px 1188px #FFF, 2229px 2363px #FFF, 864px 1957px #FFF, 863px 891px #FFF, 1536px 139px #FFF, 204px 1149px #FFF, 807px 1772px #FFF, 1294px 1053px #FFF, 1708px 107px #FFF, 337px 693px #FFF, 2374px 2293px #FFF, 771px 1058px #FFF, 843px 1539px #FFF, 1180px 181px #FFF, 2045px 1341px #FFF;
  -webkit-animation: animStar 30s infinite linear;
  -moz-animation: animStar 30s infinite linear;
  animation: animStar 30s infinite linear
}
.bubl1:after {
  content: " ";
  position: absolute;
  top: 2500px;
  width: 4px;
  height: 6px;
  border-radius:100%;
  background: transparent;
  box-shadow: 1389px 544px #FFF, 2218px 367px #FFF, 1641px 625px #FFF, 849px 364px #FFF, 314px 2025px #FFF, 828px 2268px #FFF, 1138px 429px #FFF, 1727px 1167px #FFF, 1329px 691px #FFF, 579px 1690px #FFF, 1209px 1342px #FFF, 1396px 1516px #FFF, 964px 641px #FFF, 348px 1258px #FFF, 1328px 2221px #FFF, 1388px 2448px #FFF, 2126px 115px #FFF, 703px 2250px #FFF, 201px 789px #FFF, 1774px 2124px #FFF, 1517px 2097px #FFF, 1571px 1681px #FFF, 307px 1807px #FFF, 2243px 2410px #FFF, 987px 1240px #FFF, 216px 1750px #FFF, 2429px 2290px #FFF, 1545px 1185px #FFF, 223px 1183px #FFF, 1634px 1888px #FFF, 1367px 830px #FFF, 2007px 1027px #FFF, 1349px 1047px #FFF, 2482px 706px #FFF, 1713px 970px #FFF, 912px 531px #FFF, 1046px 2498px #FFF, 853px 1090px #FFF, 1266px 727px #FFF, 2204px 942px #FFF, 1231px 1621px #FFF, 2271px 989px #FFF, 736px 1993px #FFF, 784px 926px #FFF, 2453px 1187px #FFF, 2235px 791px #FFF, 200px 1791px #FFF, 180px 2243px #FFF, 1017px 564px #FFF, 291px 1763px #FFF, 437px 1582px #FFF, 193px 2323px #FFF, 1543px 122px #FFF, 280px 448px #FFF, 1063px 686px #FFF, 1875px 2039px #FFF, 1555px 2006px #FFF;
}
.bubl2 {
  width: 12px;
  height: 10px;
  border-radius:100%;
  background: transparent;
  box-shadow: 1254px 1608px #FFF, 1364px 2016px #FFF, 553px 256px #FFF, 1089px 1453px #FFF, 1642px 2430px #FFF, 1519px 143px #FFF, 1553px 1286px #FFF, 937px 1703px #FFF, 2147px 2271px #FFF, 1617px 2050px #FFF, 1917px 1008px #FFF, 1371px 2356px #FFF, 1131px 917px #FFF, 147px 2269px #FFF, 1886px 1298px #FFF, 283px 906px #FFF, 1315px 1895px #FFF, 1856px 439px #FFF, 1584px 1103px #FFF, 1944px 2398px #FFF, 776px 606px #FFF, 2256px 2459px #FFF, 2037px 1832px #FFF, 2269px 1319px #FFF, 1394px 529px #FFF, 1210px 558px #FFF, 417px 132px #FFF, 2135px 1263px #FFF, 1564px 1137px #FFF, 1871px 1061px #FFF, 543px 343px #FFF, 649px 804px #FFF, 2190px 1514px #FFF, 1229px 1159px #FFF, 1287px 2361px #FFF, 1078px 75px #FFF, 630px 1638px #FFF, 1867px 569px #FFF, 357px 227px #FFF, 1131px 240px #FFF, 755px 1337px #FFF, 12px 848px #FFF;
  -webkit-animation: animStar 60s infinite linear;
  -moz-animation: animStar 60s infinite linear;
  animation: animStar 60s infinite linear
}
.bubl2:after {
  content: " ";
  position: absolute;
  top: 2500px;
  width: 3px;
  height: 3px;
  border-radius:100%;
  background: transparent;
  box-shadow: 1116px 85px #FFF, 2043px 2177px #FFF, 2002px 707px #FFF, 1248px 1583px #FFF, 614px 299px #FFF, 616px 1786px #FFF, 1605px 124px #FFF, 2324px 750px #FFF, 1205px 1410px #FFF, 1334px 499px #FFF, 1597px 2459px #FFF, 578px 1317px #FFF, 1086px 607px #FFF, 815px 155px #FFF, 1471px 2315px #FFF, 1757px 520px #FFF, 209px 870px #FFF, 597px 464px #FFF, 1397px 850px #FFF, 2189px 2236px #FFF, 1424px 2244px #FFF, 836px 439px #FFF, 2389px 138px #FFF, 2161px 794px #FFF, 1030px 28px #FFF, 847px 212px #FFF, 1754px 2400px #FFF, 931px 466px #FFF, 1236px 2143px #FFF, 856px 2443px #FFF, 354px 1420px #FFF, 1973px 2181px #FFF, 1287px 1823px #FFF, 292px 1279px #FFF, 1935px 1925px #FFF, 1412px 69px #FFF, 511px 227px #FFF, 17px 2114px #FFF, 408px 1312px #FFF, 150px 2081px #FFF, 1774px 323px #FFF, 1355px 1390px #FFF, 511px 440px #FFF, 417px 1451px #FFF, 1639px 196px #FFF;
}
.bubl3 {
  width:4px;
  height:4px;
  border-radius:100%;
  background: transparent;
  box-shadow: 1679px 2295px #FFF, 1154px 371px #FFF, 1229px 1436px #FFF, 2367px 1466px #FFF, 1137px 945px #FFF, 985px 332px #FFF, 1422px 351px #FFF, 1231px 65px #FFF, 1446px 2259px #FFF, 1711px 500px #FFF, 2188px 864px #FFF, 795px 942px #FFF, 431px 987px #FFF, 281px 1047px #FFF, 1249px 990px #FFF, 622px 158px #FFF, 1708px 1871px #FFF, 939px 6px #FFF, 1415px 1481px #FFF, 1073px 1301px #FFF, 50px 237px #FFF, 2127px 239px #FFF, 1833px 2116px #FFF, 2372px 874px #FFF, 761px 1345px #FFF, 571px 2190px #FFF, 1362px 963px #FFF, 1126px 1946px #FFF, 1123px 76px #FFF, 2037px 2342px #FFF, 1592px 1356px #FFF, 1988px 2209px #FFF, 578px 827px #FFF, 580px 2267px #FFF, 1908px 526px #FFF, 1415px 130px #FFF, 891px 1672px #FFF, 2416px 143px #FFF, 311px 615px #FFF, 984px 2105px #FFF, 501px 594px #FFF, 908px 2128px #FFF, 2179px 1666px #FFF;
  -webkit-animation: animStar 90s infinite linear;
  -moz-animation: animStar 90s infinite linear;
  animation: animStar 90s infinite linear
}
.bubl3:after {
  content: " ";
  position: absolute;
  top:2500px;
  width:4px;
  height:4px;
  border-radius:100%;
  background: transparent;
  box-shadow: 1231px 65px #FFF, 1446px 2259px #FFF, 1711px 500px #FFF, 2188px 864px #FFF, 795px 942px #FFF, 431px 987px #FFF, 281px 1047px #FFF, 1249px 990px #FFF, 622px 158px #FFF, 1708px 1871px #FFF, 939px 6px #FFF, 1415px 1481px #FFF, 1073px 1301px #FFF, 50px 237px #FFF, 2127px 239px #FFF, 1833px 2116px #FFF, 2372px 874px #FFF, 761px 1345px #FFF, 571px 2190px #FFF, 1362px 963px #FFF, 1126px 1946px #FFF, 1123px 76px #FFF, 2037px 2342px #FFF, 1592px 1356px #FFF, 1988px 2209px #FFF, 578px 827px #FFF, 580px 2267px #FFF, 1908px 526px #FFF, 1415px 130px #FFF, 891px 1672px #FFF, 2416px 143px #FFF, 311px 615px #FFF, 984px 2105px #FFF, 501px 594px #FFF, 908px 2128px #FFF, 2179px 1666px #FFF;
}
@-webkit-keyframes animStar {
  from {
    -webkit-transform: translateY(0px)
  }
  to {
    -webkit-transform: translateY(-2500px)
  }
}
@-moz-keyframes animStar {
  from {
    -moz-transform: translateY(0px)
  }
  to {
    -moz-transform: translateY(-2500px)
  }
}
@keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px)
  }
  to {
    -webkit-transform: translateY(-2500px);
    -moz-transform: translateY(-2500px);
    -ms-transform: translateY(-2500px);
    -o-transform: translateY(-2500px);
    transform: translateY(-2500px)
  }
}

@media (max-width: 650px){
  .title h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 3px;
  }
  .bubl1, .bubl2, .bubl3 {
    display: none;
  }
  .bublcontent .title a {
    margin-bottom: 0;
  }
}
@media (max-width: 500px){
  .title h1 {
    font-size: 20px;
  }
}