.modal__wrapper {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    left: 0;
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(6px);
    z-index: 100;
}
.modal__wrapper open {
    height: 100%;
    display: block;
}
.modal__wrapper.close {
    height: 0;
    display: none;
}
.modal__body {
    position: relative;
    max-width: 500px;
    margin: auto;
    background: #fff;
    margin-top: 5%;
    padding: 40px 20px 20px;
    border-radius: 10px;
    max-height: 100%;
    overflow-y: scroll;
}
.modal__body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.modal__body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
//.modal__close {
//    text-align: right;
//    margin-top: -15px;
//    font-size: 40px;
//    color: gray;
//    cursor: pointer;
//}

.modal__close {
    position: absolute;
    right: 20px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;

    &:hover {
        opacity: 1;
    }

    &:before, &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}